.container {
  width: 100%;
  padding: 8px;
}

.container-btn {
    display: flex;
    justify-content: space-between;
  .btn {
    color: white;
    background: rgb(36, 175, 89);
    margin: 6px;
  }
}
